:root {
  --cvs-size: 1000px;
  --plr-size: 35px;
}

body {
  background-color: black;
}

#full-screen {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5em 1em;
  color: seashell;
  background-color: lightcoral;
  border: 10px solid seashell;
  border-radius: 5px;
  
  /*/* which prop effect is applied to */
  /* transition-property: transform; */
  
  /*/* how long ot complete */
  /* transition-duration: 0.3s; */
  
  /*/* acc curve for trans */
  /* transition-timing-function: ease; */
  
  /*/* delay before effect */
  /* transition-delay: 0s; */
  
  /* transition: transform 0.3s, background-color 0.3s, color 0.3s; */
  transition: all 0.3s;
}

#full-screen:hover {
  transform: translateY(-10px);
  background-color: seashell;
  color: lightcoral;
}

#canvas-wrapper {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  width: 98vw;
}

#player {
  position: absolute;
  height: var(--plr-size);
  width: var(--plr-size);
  transition-property: all;
  transition-duration: .1s;
  transition-timing-function: ease-out;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../assets/pc/duck-pc-f1.png);
}

.left-face {
  transform: scaleX(-1);
  
}

.right-face {
  transform: scaleX(1);
}

.up-face {
  transform: scaleY(1);
}

.down-face {
  transform: scaleY(-1);
}

.land {
  animation-name: jump;
  animation-timing-function: ease-in-out;
}

#main-canvas {
  position: static;
  background-color: black;
  height: 98vh;
  width: 98vw;
  background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
}