:root {
  --cvs-size: 1000px;
  --plr-size: 50px;
}

body {
  background-color: black;
}

#canvas-wrapper {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  width: 98vw;
}

#player {
  position: absolute;
  background-image: url(./assets/duck-pc.png);
  background-size: contain;
  height: var(--plr-size);
  width: var(--plr-size);
  transition: 0.1s linear;
  margin: 10px;
  border: 2px solid black;
  border-radius: 50%;
}

#main-canvas {
  position: static;
  background-color: gray;
  height: 98vh;
  width: 98vw;
  margin: 10px 0 0 15px;
}